$color__primary: #ff6501;
$color__secondary: #0f0704;
$color__tertiary: #f6f6f6;
$color__light: #ffffff;
$color__dark: #000000;

$unit__tiny: 0.4rem;
$unit__small: 0.8rem;
$unit__normal: 1.6rem;
$unit__submedium: 2.4rem;
$unit__medium: 3.2rem;
$unit__large: 4.8rem;
$unit__huge: 6.4rem;
$unit__gigantic: 12.8rem;
