/* SECTION FEATURED POSTS */
.section-featured-posts {
  width: 100%;
  margin: $unit__normal auto;
  position: relative;
}

.feature-post {
  padding: $unit__large 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $unit__normal;
}

.feature-post:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.post__image-container {
  position: relative;
  flex: 0 1 40%;

  .post__image {
    width: 100%;
  }
}

.featured-image-bg {
  position: absolute;
  background: linear-gradient(
      90deg,
      rgba($color__primary, 0.9),
      rgba($color__primary, 0.6)
    ),
    url("../assets/featured-image-bg.jpg");
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
}

.bg-bottom {
  top: 10%;
  left: -10%;
}

.bg-top {
  top: -10%;
  right: -10%;
}

.post-desc {
  flex: 0 1 40%;

  &__tag {
    text-transform: uppercase;
    line-height: 1.6;
  }

  &__title {
    font-size: $unit__large;
    font-weight: 900;
  }

  &__author {
    color: $color__primary;
    font-weight: 700;
    line-height: 1.8;
  }

  &__link {
    margin: $unit__normal auto;
    text-align: center;
    display: inline-block;
    padding: $unit__normal;

    &:link,
    &:visited {
      background: $color__primary;
      color: $color__light;
    }

    &:hover,
    &:active {
      background: $color__dark;
    }
  }
}

.post__link {
  margin: $unit__normal auto;
  text-align: center;
  display: inline-block;
  padding: $unit__normal;
  transition: all 0.3s;
  &:link,
  &:visited {
    border: 2px solid $color__primary;
    color: $color__primary;
  }

  &:hover,
  &:active {
    background: $color__primary;
    color: $color__light;
  }
}
.text-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.text-bg__text {
  font-size: $unit__gigantic * 2;
  position: absolute;
  color: #d8d8d860;
  z-index: -10;
}

.artwork {
  top: -5%;
  right: -25%;
}

.place {
  transform: rotateZ(-90deg);
  top: 60%;
  left: -20%;
}

.atrists {
  transform: rotateZ(90deg);
  top: 60%;
  right: -20%;
}

.feature-posts-container {
  position: relative;
  padding: $unit__gigantic 0;
  z-index: 5;
}

.feature-post__title {
  padding: $unit__normal 0;
  text-transform: capitalize;
  font-weight: 900;
  font-size: $unit__huge;
  text-align: center;
}

/* SECTION BLOG POSTS */

.section-blog {
  position: relative;
  width: inherit;
  min-height: 150rem;
}

.blog-bg-01,
.blog-bg-02 {
  position: absolute;
  width: 100%;
  min-height: 40rem;
}

.blog-bg-01 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      0,
      rgba($color__dark, 0.9),
      rgba($color__dark, 0.6)
    ),
    url("../assets/blog-bg-01.jpg");
  clip-path: polygon(0 0, 100% 40%, 100% 98%, 0 98%);
  background-size: 100%;
  filter: grayscale(1) sepia(0.5);
  z-index: -5;

  &__title {
    font-size: $unit__huge;
    color: $color__light;
  }
}

.blog-bg-02 {
  background: linear-gradient(
      90deg,
      rgba($color__primary, 0.9),
      rgba($color__primary, 0.6)
    ),
    url("../assets/blog-bg-02.jpg");
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
  background-size: 100%;
  z-index: -10;
}

.blogs {
  overflow: hidden;
  position: absolute;
  top: 35rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: $color__light;
}

.new {
  top: -22%;
  right: 0;
}

.highlighted {
  position: relative;
  padding: $unit__gigantic $unit__small $unit__huge $unit__huge;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlighted__image-container {
  transform: translateY(-$unit__huge);
  width: 50rem;
}
.highlighted__image {
  width: 100%;
}

.highlighted__text {
  text-align: right;
  padding: $unit__normal;
  color: #fff;
  transform: translateX(-$unit__gigantic);
  width: 60rem;
  background: $color__dark;
}

.regular-blog {
  margin: $unit__large auto;
  width: 100%;
  position: relative;
  padding-bottom: $unit__gigantic;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color__light;
}
.regular-blog__bg {
  position: absolute;
  width: 100%;
  height: 30rem;
  padding: $unit__gigantic 0;
  background: linear-gradient(
      90deg,
      rgba($color__primary, 0.9),
      rgba($color__primary, 0.6)
    ),
    url("../assets/header-bg-02.jpg");
  background-size: 100%;
  z-index: 0;
}

.blog-post-left,
.blog-post-right {
  padding: $unit__normal $unit__huge;
  background: #fff;
  z-index: 1;
  position: relative;
}

.blog-post-left {
  transform: translate(-30px, -100px);
}

.blog-post-right {
  transform: translate(30px, 100px);
}

.post-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 10rem;
  position: absolute;
  background: #fff;
  .date {
    display: block;
    font-size: $unit__large;
    font-weight: 900;
  }

  .month-year {
    display: block;
  }
}

.date-left {
  padding-right: $unit__normal;
  align-items: flex-end;
  bottom: -20%;
  left: 0;
}

.date-right {
  padding-left: $unit__normal;
  align-items: flex-start;
  top: -22%;
  right: 0;
}

/* SOCIAL MEDIA SECTION */
.section-social {
  width: 100%;
  height: 70rem;
  position: relative;
  margin: $unit__small auto;
  padding: $unit__large 0;
  perspective: 4000rem;
}

.social-bg {
  top: -10%;
  right: -15%;
}

.social-media__title {
  text-align: center;
  font-size: $unit__large;
  font-weight: 900;
  margin: $unit__huge auto;
}

.signup {
  position: absolute;
  top: 20rem;
  left: 0;
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $unit__large;
  transform: scale(0.5) skewY(-5deg) translateX(-40rem);
  transition: all 0.7s ease-in-out;
  z-index: 0;

  &:hover {
    transform: scale(1) skewX(0) translateX(0);
    z-index: 1;
    & + .social-medias {
      opacity: 0;
    }
  }

  &__bg {
    position: absolute;
    background: linear-gradient(
        90deg,
        rgba($color__primary, 0.9),
        rgba($color__primary, 0.6)
      ),
      url("../assets/featured-image-bg.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
  }

  &__title {
    color: $color__light;
    font-size: $unit__submedium;
    letter-spacing: 0.5rem;
    text-transform: uppercase;

    &::after {
      display: block;
      content: "";
      width: 200%;
      height: 2px;
      transform: translate(-25%, 5rem);
      background: radial-gradient(
        rgba($color__light, 0.5),
        rgba($color__light, 0.1)
      );
    }
  }

  &__link {
    margin-top: $unit__huge;
    padding: $unit__submedium $unit__gigantic;
    font-size: $unit__submedium;
    text-transform: uppercase;
    transition: all 0.3s;

    &:link,
    &:visited {
      border: 2px solid $color__light;
      color: #fff;
    }
    &:hover,
    &:active {
      background: $color__dark;
      border: 2px solid $color__dark;
    }
  }
}

.social-medias {
  position: absolute;
  width: 100%;
  height: 40rem;
  top: 20rem;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $unit__large;
  background: $color__dark;
  transform: scale(0.5) skewY(5deg) translate(50rem, 10rem);

  transition: all 0.7s ease-in-out;

  &:hover {
    transform: scale(1) skewX(0);
  }
}

.svg-social-icon {
  width: 8rem;
  height: 8rem;
  fill: darken($color: $color__light, $amount: 50%);
  stroke: darken($color: $color__light, $amount: 50%);
  transition: all 0.3s;

  &:hover {
    fill: darken($color: $color__light, $amount: 0);
    stroke: darken($color: $color__light, $amount: 0);
  }
}
