@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
.grid {
  display: grid;
}

.grid__2-cols {
  grid: 1fr/repeat(2, 1fr);
}

.grid__3-cols {
  grid: 1fr/repeat(3, 1fr);
}

.grid__4-cols {
  grid: 1fr/repeat(4, 1fr);
}

.grid__12-cols {
  grid: 1fr/repeat(12, 1fr);
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#root {
  max-width: 120rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

.svg-icon {
  stroke: #000;
  fill: #000;
  width: 6.4rem;
  height: 6.4rem;
}

.section-features {
  position: relative;
  margin-top: -12.8rem;
  padding: 12.8rem 0 4.8rem 0;
  background: rgb(226, 226, 226);
  z-index: -100;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  text-align: center;
  margin: 4.8rem auto;
  width: 75%;
}

.icon-desc {
  text-align: center;
}

.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
.store__title {
  font-size: 4.8rem;
  font-weight: 900;
}

.items {
  width: 100%;
  min-height: 30rem;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.item {
  position: relative;
  width: inherit;
  height: 30rem;
  perspective: 100rem;
}

.item-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 30rem;
  height: 30rem;
  transition: all 1s;
  backface-visibility: hidden;
  transform: rotateY(0);
}
.item-image-container__image {
  width: 100%;
  height: 100%;
}

.item:hover .item-image-container {
  transform: rotateY(-180deg);
}

.item:hover .item-detail {
  transform: rotateY(0);
}

.item-detail {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  text-align: center;
  line-height: 1.6;
  width: 30rem;
  height: 30rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 2.4rem;
  transform: rotateY(180deg);
  transition: all 1s;
  backface-visibility: hidden;
}
.item-detail__category {
  color: #999999;
}
.item-detail__title {
  color: #ffffff;
  font-size: 2.4rem;
}
.item-detail__price {
  color: #ff6501;
  font-size: 2.4rem;
}
.item-detail__link {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: bold;
}
.item-detail__link:link, .item-detail__link:visited {
  color: #ff6501;
}
.item-detail__link:hover, .item-detail__link:active {
  color: #ffffff;
}

.item__link {
  display: block;
  margin: 1.6rem auto;
  padding: 1.6rem 6.4rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s;
}
.item__link:link, .item__link:visited {
  border: 2px solid #000000;
}
.item__link:hover, .item__link:active {
  background: #ff6501;
  border: 2px solid #ff6501;
  color: #ffffff;
}

/* SECTION FEATURED POSTS */
.section-featured-posts {
  width: 100%;
  margin: 1.6rem auto;
  position: relative;
}

.feature-post {
  padding: 4.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.feature-post:nth-child(2n+1) {
  flex-direction: row-reverse;
}

.post__image-container {
  position: relative;
  flex: 0 1 40%;
}
.post__image-container .post__image {
  width: 100%;
}

.featured-image-bg {
  position: absolute;
  background: linear-gradient(90deg, rgba(255, 101, 1, 0.9), rgba(255, 101, 1, 0.6)), url("../assets/featured-image-bg.jpg");
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
}

.bg-bottom {
  top: 10%;
  left: -10%;
}

.bg-top {
  top: -10%;
  right: -10%;
}

.post-desc {
  flex: 0 1 40%;
}
.post-desc__tag {
  text-transform: uppercase;
  line-height: 1.6;
}
.post-desc__title {
  font-size: 4.8rem;
  font-weight: 900;
}
.post-desc__author {
  color: #ff6501;
  font-weight: 700;
  line-height: 1.8;
}
.post-desc__link {
  margin: 1.6rem auto;
  text-align: center;
  display: inline-block;
  padding: 1.6rem;
}
.post-desc__link:link, .post-desc__link:visited {
  background: #ff6501;
  color: #ffffff;
}
.post-desc__link:hover, .post-desc__link:active {
  background: #000000;
}

.post__link {
  margin: 1.6rem auto;
  text-align: center;
  display: inline-block;
  padding: 1.6rem;
  transition: all 0.3s;
}
.post__link:link, .post__link:visited {
  border: 2px solid #ff6501;
  color: #ff6501;
}
.post__link:hover, .post__link:active {
  background: #ff6501;
  color: #ffffff;
}

.text-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.text-bg__text {
  font-size: 25.6rem;
  position: absolute;
  color: rgba(216, 216, 216, 0.3764705882);
  z-index: -10;
}

.artwork {
  top: -5%;
  right: -25%;
}

.place {
  transform: rotateZ(-90deg);
  top: 60%;
  left: -20%;
}

.atrists {
  transform: rotateZ(90deg);
  top: 60%;
  right: -20%;
}

.feature-posts-container {
  position: relative;
  padding: 12.8rem 0;
  z-index: 5;
}

.feature-post__title {
  padding: 1.6rem 0;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 6.4rem;
  text-align: center;
}

/* SECTION BLOG POSTS */
.section-blog {
  position: relative;
  width: inherit;
  min-height: 150rem;
}

.blog-bg-01,
.blog-bg-02 {
  position: absolute;
  width: 100%;
  min-height: 40rem;
}

.blog-bg-01 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../assets/blog-bg-01.jpg");
  clip-path: polygon(0 0, 100% 40%, 100% 98%, 0 98%);
  background-size: 100%;
  filter: grayscale(1) sepia(0.5);
  z-index: -5;
}
.blog-bg-01__title {
  font-size: 6.4rem;
  color: #ffffff;
}

.blog-bg-02 {
  background: linear-gradient(90deg, rgba(255, 101, 1, 0.9), rgba(255, 101, 1, 0.6)), url("../assets/blog-bg-02.jpg");
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
  background-size: 100%;
  z-index: -10;
}

.blogs {
  overflow: hidden;
  position: absolute;
  top: 35rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: #ffffff;
}

.new {
  top: -22%;
  right: 0;
}

.highlighted {
  position: relative;
  padding: 12.8rem 0.8rem 6.4rem 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlighted__image-container {
  transform: translateY(-6.4rem);
  width: 50rem;
}

.highlighted__image {
  width: 100%;
}

.highlighted__text {
  text-align: right;
  padding: 1.6rem;
  color: #fff;
  transform: translateX(-12.8rem);
  width: 60rem;
  background: #000000;
}

.regular-blog {
  margin: 4.8rem auto;
  width: 100%;
  position: relative;
  padding-bottom: 12.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.regular-blog__bg {
  position: absolute;
  width: 100%;
  height: 30rem;
  padding: 12.8rem 0;
  background: linear-gradient(90deg, rgba(255, 101, 1, 0.9), rgba(255, 101, 1, 0.6)), url("../assets/header-bg-02.jpg");
  background-size: 100%;
  z-index: 0;
}

.blog-post-left,
.blog-post-right {
  padding: 1.6rem 6.4rem;
  background: #fff;
  z-index: 1;
  position: relative;
}

.blog-post-left {
  transform: translate(-30px, -100px);
}

.blog-post-right {
  transform: translate(30px, 100px);
}

.post-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 10rem;
  position: absolute;
  background: #fff;
}
.post-date .date {
  display: block;
  font-size: 4.8rem;
  font-weight: 900;
}
.post-date .month-year {
  display: block;
}

.date-left {
  padding-right: 1.6rem;
  align-items: flex-end;
  bottom: -20%;
  left: 0;
}

.date-right {
  padding-left: 1.6rem;
  align-items: flex-start;
  top: -22%;
  right: 0;
}

/* SECTION STORE */
.section-header {
  width: inherit;
  min-height: 70rem;
  position: relative;
  color: #ffffff;
}

.navbar {
  justify-items: center;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 12.8rem;
}
.logo__title {
  text-transform: uppercase;
  font-size: 6.4rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  line-height: 0.8;
}
.logo__description {
  margin-left: 12.8rem;
  text-transform: capitalize;
}

.header-bg-01,
.header-bg-02 {
  position: absolute;
  width: 100%;
  min-height: 70rem;
}

.header-bg-01 {
  background: linear-gradient(0, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../assets/header-bg-01.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  background-size: 100%;
  filter: grayscale(1) sepia(0.5);
  z-index: -5;
}

.header-bg-02 {
  background: linear-gradient(90deg, rgba(255, 101, 1, 0.9), rgba(255, 101, 1, 0.6)), url("../assets/header-bg-02.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  background-size: 100%;
  z-index: -10;
}

.nav-link {
  position: relative;
  display: block;
  transition: all 0.3s;
}
.nav-link:link, .nav-link:visited {
  color: #ffffff;
}
.nav-link:hover, .nav-link:active {
  color: #ff6501;
  transition: all 0.3s;
}

.nav-link:hover::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #ff6501;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.hero::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  display: block;
  content: "";
  width: 50%;
  height: 1px;
  background: #ff6501;
}

.hero__quote {
  font-size: 6.4rem;
  text-align: center;
}

.quote__text {
  display: block;
}
.quote__text .quote {
  color: #ff6501;
}

.hero__cta-link {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 1.6rem 4.8rem;
  transition: all 0.3s;
}
.hero__cta-link:link, .hero__cta-link:visited {
  color: #ffffff;
  background: #ff6501;
}
.hero__cta-link:hover, .hero__cta-link:active {
  color: #000000;
  background: #f6f6f6;
}

/*# sourceMappingURL=main.css.map */
